#container{
    display: grid;
    grid-template-areas: 
    'titulo titulo'
    'foto sobremim'
    'foto texsobremim'
    'escolar curiosidades'
    'texescolar texcuriosidades';
    grid-area: container;
    gap: 10px;
    margin: 10%;
    border-radius: 20px;
    box-shadow: 4px 4px 8px solid black;
    border: black;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
}
#titulo{
    grid-area: titulo;
}
#foto{
    grid-area: foto;
    height: 25%;
    width: 25%;
}
#sobremim{
    grid-area: sobremim;
}
#texsobremim{
    grid-area: texsobremim;
}
#escolar{
    grid-area: escolar;
}
#texescolar{
    grid-area: texescolar;
}
#curiosidades{
    grid-area: curiosidades;
}
#texcuriosidades{
    grid-area: texcuriosidades;
}