h1 { box-sizing: border-box; }
html {  
  background: #98afc7;
}
h1 {
  color: #151b54;
  text-align: center;
  width: 500px;
  height: 50px;
  padding: 50 50px;
  margin-inline:auto;
}
form {
  border: 1px solid black;
  width: 500px;
  height: min-content;
  margin-inline: auto;
}
p{
  text-align: center;
  color: #123456;
  padding-bottom: 0%;
  margin: 0%;
}
input{
  align-content: center;
  text-align: center;
  color: #98afc7;
  border: 1px black;
  padding-top: 0%;
  width: 50%;
  display: block;
  margin-bottom: 20px;
  margin-top: 0%;
  margin-inline: auto;
}